@font-face {
	font-family: CenturyGothic-Bold;
	src: url(../fonts/gothic.ttf);
}
/*********     start global styles        *********/
.info-title {
	font-size: 22px;
	font-weight: bold;
	color: #434A5B;
	line-height: 27px;
}

.call-button {
	background: #5F98DA;
	box-shadow: 0px 10px 60px rgba(255, 255, 255, 0.2), 0px 10px 60px rgba(255, 255, 255, 0.2);
	color: #fff;
	border-radius: 60px;
}
.img-icons-wrapper { /*main icon category*/
	position: absolute;
	bottom: -25px;
	left: 15px;
	z-index: 3;
}
@media (max-width:991px) {
	.mobile-container-fluid {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
	}
	.container20{
		padding-left: 20px;
		padding-right: 20px;
	}
}

/*********     end global styles        *********/

/*********     START TEMP styles *********/
img{
	max-width: 100%;
}
/*start*  colors: */

.color-yellow{
	color: #E4BD31 !important;
}
.color-blue{
	color: #5F98DA !important;
}
.color-salmon{
	color: #E3545A !important;
}
.bg-salmon {
	background: #E3545A;
}
/*end*   colors */
section {
	padding: 100px 0;
}
@media (max-width: 767px) {
	#about-page section{
		padding: 50px 0;
	}
	
}
h2 {
	font-size: 60px;
	font-weight: bold;
}
/*подвязан фак секция*/
h3 {
	font-size: 40px;
	font-weight: bold;
}

h4 {
	font-size: 30px;
	font-weight: bold;
}

h5 {
	font-size: 24px;
	font-weight: bold;
}


.img-icons-wrapper img {

	/*for icons border radius 50%*/	border-radius: 50%;
}

button {
	background: #fff; /*temp*/
}

.section-main-header, .mask {
	height: 100%; /*temp*/
}

/*********    end TEMP styles    *********/
.fz14 {
	font-size: 14px;
}

.fz16 {
	font-size: 16px;
}

.fz18 {
	font-size: 18px;
}

.fz20 {
	font-size: 20px;
}

.fz24 {
	font-size: 24px;
}

body {
	font-family: "Century Gothic", sans-serif;
	color: #333;
	font-weight: normal;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	overflow-x: hidden;
}

/*for all pages */
a>i.fa.fa-plus {
	padding-left: 10px; /*for buttons plus*/
}
/**buttons first bg after color text*/
a.btn-salmon__white,
a.btn-white__salmon,
 a.btn-blue__white,
  a.btn-yellow__white {
	background: #E3545A;
	border-radius: 60px;
	padding: 13px 27px;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	display: inline-block;
	white-space: nowrap;
}

a.btn-white__salmon {
	color: #E3545A;
	background: #fff;
	box-shadow: 0px 10px 60px rgba(255, 255, 255, 0.2), 0px 10px 60px rgba(255, 255, 255, 0.2);
}

a.btn-blue__white {
	color: #fff;
	background: #5F98DA;
}

a.btn-yellow__white {
	color: #fff;
	background: #E4BD31;
}

/* end for all pages */

/*nav menu потом стилизируем под https://mdbootstrap.com/previews/templates/landing-page/html/Landing-Page-Medical.html#*/
/****   start navbar*****/ 

/* nav menu */
.navbar { /*new 16*/
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
#main-page a.navbar-logo {
	pointer-events: none;
}
.navbar a.navbar-logo{
	margin-right: 70px;
}
.navbar-dark .navbar-toggler{border:none;}
#main-page .smooth-scroll{
	order: 1;
}
#main-page .nav-flex-icons{
	order: 2;
}
.navbar-nav.smooth-scroll{
	order: 2;
}
.navbar .nav-item__phone{
	font-weight: normal;
	position: relative;
	font-size: 20px;
	line-height: 21px;
	color: #FFFFFF;
	padding-left: 33px;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.navbar .nav-item__phone:before{
	content: '';
  background: url(../img/icons/phone_nav_menu_icon.png) 0 0 no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 4px;
}
#main-page .navbar .nav-item__link{
	display: block;
	padding: 8px 19px;
	color: rgba(15, 15, 15, 0.8);
}
#main-page .navbar.top-nav-collapse .nav-item__link{
	color: #fff;
}
.navbar .nav-item__link{ /* for all rest pages. not index*/
	display: block;
	padding: 8px 19px;
	color: #fff;
}

.section-main-header .block__main-header {
	z-index: 2;
}

@media (min-width:600px) { /*600*/
	.navbar.scrolling-navbar.top-nav-collapse {
		padding-top: 5px;
		padding-bottom: 5px;
		background: #E3535A;
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -o-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
	}
}
@media (max-width:991px) {
	.navbar.fixed-top.scrolling-navbar {
		background: #E3535A;
	}
	#main-page .navbar .nav-item__link,
	.navbar .nav-item__link {
    color: #fff;
    padding: 8px 6px;
  }
  .navbar .nav-phone{
  	padding-left: 6px;
  }
  .navbar-collapse{
  	margin-top: 10px;
  }

}

/*header*/

.section-main-header {
	background-image: url(../img/header_main_page_mobile_bg_normal.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 83% center;
	padding-top: 90px;
	padding-bottom: 60px;
}
.mask-salmon {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background: rgba(227, 83, 90, 0.8);
}
.pre-header .page-title {
	/*for all h1 titles*/
	font-size: 40px;
	line-height: 105.11%;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.pre-header .main-header__text {
	font-size: 14px;
	line-height: 17px;
	color: rgba(255, 255, 255, 0.9);
	padding-top: 20px;
}

h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 180%;
	color: #FFFFFF;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width:991px) {
	h1 {
		font-size: 50px;
	}
}

	@media (max-width:767px) {
		h1 {
			font-size: 40px;
			line-height: 49px;
			text-align: center;
		}
    h2 {
			font-weight: bold;
			font-size: 28px;
			line-height: 34px;
			text-align: center;
		}
}
@media (min-width:992px) {
	.mask-salmon {
		width: 45%;
	}

	.navbar:not(.top-nav-collapse) {
		background: 0 0;
		padding-top: 40px;
		box-shadow: none;
		transition: .5s;
	}

}

@media (min-width:768px) {
	header {
		height: 726px;
	}

	.section-main-header {
		display: flex;
		align-items: center;
		padding: 130px 0 100px 0;
	}

	.pre-header .page-title {
		font-size: 80px;
		padding-bottom: 20px;
	}

	.pre-header .main-header__text {
		font-size: 22px;
		width: 65%;
		line-height: 27px;
		padding-bottom: 60px;
	}
}



/* \header*/
/*********  END navbar 
************/
.section-main-greeting{
	padding-bottom: 370px;
}
.section-main-greeting .greeting-information{
	z-index: 2;
	padding-top: 30px;
}
.section-main-greeting .greeting__title{
		white-space: nowrap;
		line-height: 108px;
		padding-bottom: 37px;
		color: #E3535A;
}
.section-main-greeting .greeting__description{
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 180%;
    color: #4A4A4A;
}
.section-main-greeting .greeting__description:last-of-type{
    padding-bottom: 77px;
}

.btn-more-info{
	color: #E3535A;
	font-weight: bold;
  font-size: 16px;
  line-height: 29px;
  text-decoration-line: underline;
  position: relative;
}
.btn-more-info:after{
  content: '';
  background: url(../img/icons/arrow-right.png) 0 0 no-repeat;
  width: 13px;
  height: 13px;
  position: absolute;
  right: -30px;
  top: 2px;
}
.btn-more-info:hover{
	color: #E3535A;
  text-decoration-line: none;
}

.section-main-greeting .idea__image{
	  position: absolute;
    padding: 0;
    right: 0;
    max-width: 53%;
}


@media (max-width:991px) {
  .section-main-greeting{
 		padding-top: 45px;
 		padding-bottom: 200px;
  }
  .pre-header .page-title{
  	text-align: left; /*temp1*/
  }
  .events__registration{
  	margin-top: 20px; /*temp1*/
  }
  .section-main-greeting .greeting__title {
    text-align: center;
    padding-bottom: 45px;
  }
	.section-main-greeting .photo-and-text{
		margin: 0;
	}
}
@media (max-width:767px){
	.section-main-greeting .greeting__description{
		font-size: 16px;
	}
	 .section-main-greeting .greeting__title {
    line-height: 34px;
  }
}
@media (max-width:575px){
	.section-main-greeting .photo-and-text {
    text-align: center;
	}
	.block-main-price h3{
	text-align: center;
	}
}


/*======== Start section-main-price =====*/
.section-main-price {
  background: linear-gradient(172.56deg, rgba(255, 46, 0, 0.2) 1.57%, rgba(255, 214, 0, 0.2) 50.51%, rgba(24, 172, 255, 0.2) 98.44%);
}
.block-main-price{
		margin-top: -277px;
	}
.pricing-card__block{
	margin-bottom: 40px;
}
/*global styles*/
.title-gradient__wrapper{
	display: flex;
  margin-bottom: 55px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px){
	.block-main-price{
		margin-bottom: -180px;
	}
}
@media (min-width: 992px) {
	.title-gradient {
  	height: 2px;
  	width: 100%;
    background: linear-gradient(269.97deg, #5F98DA 0%, #E4BD31 50%, #E3535A 100%);
    margin-left: 50px;
	}
	.section-main-price {
    background: -o-linear-gradient(359.48deg, rgba(255, 46, 0, 0.5) 0.12%, rgba(255, 214, 0, 0.2) 50.52%, rgba(24, 172, 255, 0.2) 99.87%);
    background: linear-gradient(90.52deg, rgba(255, 46, 0, 0.5) 0.12%, rgba(255, 214, 0, 0.2) 50.52%, rgba(24, 172, 255, 0.2) 99.87%);
	  padding-bottom: 60px;
	}
}

/*======== START styles for 3 mob pages=====*/

.pricing-card {
	padding: 30px;
	background: #fff;
	padding-top: 24px;
	max-width: 400px;
  margin: 0 auto;
  box-shadow: 0px 10px 60px rgba(0, 44, 87, 0.05), 0px 2px 14px rgba(0, 0, 0, 0.05);
}
.pricing-card .btn-more-course{
  display: inline-block;
  position: relative;
  font-size: 14px;
  text-decoration-line: underline;
  color: #1E61E2;
  padding-left: 27px;
  margin-top: 20px;
}
.pricing-card .btn-more-course:hover{
  text-decoration-line: unset;
}
.pricing-card .btn-more-course .fa-info-circle{
  position: absolute;
  font-size: 21px;
  color: #CCD1DA;
  left: 0;
  top: 3px;
}

.section-main-price .basic-course {
	border-top: 10px solid #E3545A;
}

.section-main-price .intermediate-course {
	border-top: 10px solid #E4BD31;
}

.section-main-price .private-course {
	border-top: 10px solid #5F98DA;
}

.course__item {
	margin-bottom: 35px;
}

.group-title {
	margin-bottom: 15px;
}

.course__text {
	font-size: 14px;
	line-height: 15px;
}

.basic-course .group-title, .intermediate-course .group-title, .private-course .group-title {
	font-weight: bold;
	font-size: 16px;
	color: #E3545A;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.intermediate-course .group-title {
	color: #E4BD31;
}

.private-course .group-title {
	color: #5F98DA;
}

.course__item .course__text-bold {
	font-weight: bold;
	font-size: 30px;
	line-height: 105.11%;
	white-space: nowrap;
}

.course__item .course__text-bold span {
	font-size: 20px;
}
/*Start styles for modal price*/
.modal-wrapper__student-group{
	padding: 0;
	border-radius: 3px;
}
.modal-student-group{
	display: flex;
  flex-wrap: wrap;
}
.modal-student-group .student-group__left{ 
	flex-basis: 345px;
	padding: 38px 45px 40px 40px;
}
.basic-course .student-group__right,
.intermediate-course .student-group__right{
	flex-basis: 305px;
	background: #F3F6F9;
	padding: 38px 20px 40px 33px;
}
/* 44 start for private modal width 775px*/
.private-course .student-group__right{
	flex-basis: 430px;
	background: #F3F6F9;
	padding: 38px 30px 0px 33px;
}
.private-course .course__teachers{
	margin-bottom: 20px;
}
.private-course .course__teachers .group-title{
	margin-bottom: 25px;
}
.private-course .schedule-table__row{
	display: flex;
	font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #434A5B;
}
.private-course .schedule-table__row>.schedule__item{
	border: 1px solid #C3CEDE;
	margin: 0 -1px -1px 0;
	padding: 7px;
}

/* 44 end for private modal window only*/
.intermediate-course .schedule-table__row,
.basic-course .schedule-table__row{
	display: flex;
	padding: 15px 0;
	border-top: 1px solid #DFE5EC;
}
.intermediate-course .schedule-table__row:last-child,
.basic-course .schedule-table__row:last-child{
	border-bottom: 1px solid #DFE5EC;
}

.teacher-modal__wrapper{
	display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
/* schedule for all 3 modal */
.course__item .flip-card img, .course__item .flip-card {
	width: 100px;
	height: 100px;
}
.course__item .flip-card{
	margin-bottom: 15px;
}
.schedule-table__row .schedule__item {
	flex-basis: 33%;
}
.basic-course .schedule-table .schedule__item-hours,
.intermediate-course .schedule-table .schedule__item-hours,
.private-course .schedule-table .schedule__item-price,
.private-course .schedule-table .schedule__item-teacher {
	font-weight: bold;
}
.schedule-table__row .schedule__item-course {
	text-align: right;
}

/* END schedule for all 3 modal */
.course__item .teacher-block{
	padding: 0 15px;
}
.basic-course.modal-student-group .flip-card img{
	border: 2px solid #E3545A;
}
.intermediate-course.modal-student-group .flip-card img{
	border: 2px solid #E4BD31;
}
.private-course.modal-student-group .flip-card img{
	border: 2px solid #5F98DA;
}

.basic-course .schedule__item-course{	color: #E3545A;}
/*.private-course .schedule__item-course{	color: #5F98DA;}*/
.intermediate-course .schedule__item-course{	color: #E4BD31;}

.basic-course .course__teachers,
.intermediate-course .course__teachers{
	margin-bottom: 60px;
}
.basic-course .course__teachers .group-title,
.intermediate-course .course__teachers .group-title{
	margin-bottom: 20px;
}
.basic-course .course__location{ /*basic-cours for last child*/
	margin-bottom: 0;
}
.student-group__right .teacher__name{
	text-align: center;
	    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #434A5B;
}

.close-modal-window__btn{ /*temp */
	position: absolute;
	top: 20px;
	right: 20px;
	color: grey;
	font-size: 22px;
	cursor: pointer;
}
.close-modal-window__btn:hover{ /*temp */
	color: #000;
}
/* start modal windows icon*/
.intermediate-course .school-adress__lisova.marker-icon1:before{
	background: url(../img/icons/location_icon_yellow.png) 0 0 no-repeat;
}
.private-course .school-adress__lisova.marker-icon1:before{
	background: url(../img/icons/location_icon_blue.png) 0 0 no-repeat;
}
.school-adress__lisova.marker-icon1:before{
	background: url(../img/icons/location_icon_salmon1.png) 0 0 no-repeat;
}
.school-adress__bucha.marker-icon1:before{
	background: url(../img/icons/location_icon_salmon2.png) 0 0 no-repeat;
}
/*end modal windows icon*/
/* END styles for modal price */

/*======== End section-main-price ====*/

/*======== Start section-main-gallery ====*/

/* Start 6 gallery-page*/
#gallery-page header,
 #about-page header,
  #study-page header,
   #blog-page header,
    #events-page header,
     #faq-page header {
 /* sort by pages*/
	/*temp ?*/
	height: 360px;
	background: url(../img/gallery/gallery-header-bg.png);
}

.header-title { /*for all pages global*/
	height: 100%;
	display: flex;
	align-items: center;
	padding-top: 60px;
	position: relative;
}

@media (max-width:767px) {
	#gallery-page header,
 #about-page header,
  #study-page header,
   #blog-page header,
    #events-page header,
     #faq-page header {
 /* sort by pages*/
	/*temp ?*/
	height: 250px;
}
	.img-icons-wrapper {
		left: calc(50% - 25px);
	}
	.header-title {
		justify-content: center;
	}
}
/* END 6 gallery-page*/
.video-deck .card {
  display: block;
  background-color: #f1ecec
}
.main-gallery__title{
	line-height: 105.11%;
	color: #434A5B;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	text-align: center;
	margin-bottom: 60px;
}
/* start styles for switch*/
.list-group{
	flex-direction: row;
	align-items: center;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	margin: 20px 0 60px 0;
}
.list-gallery span{
	color: #D1D8E4;
  padding: 0 35px;
  font-weight: normal;
}
.list-gallery-item.active{
	z-index: 2;
  text-decoration-line: underline;
	color: #E3545A;
}
.list-gallery-item{
	color: #AEBACF;
}
.list-gallery-item-action:focus,
.list-gallery-item-action:hover {
  z-index: 1;
  color: #E3545A;
  text-decoration: none;
}
.list-gallery-item.active{
	z-index: 2;
  text-decoration-line: underline;
	color: #E3545A;
}
.list-gallery-item{
	color: #AEBACF;
}
/* END styles for switch*/
/*.section-main-gallery .main-gallery__item {
	margin-bottom: 30px;
}
*/
img.zoom {
	width: 100%;
	border-radius: 5px;
	object-fit: cover;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

.transition {
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}
@media (max-width: 767px) { /*temp for gallery*/
	.list-group{  /*permanent */
		font-size: 18px;
		justify-content: center;
	}
	.fancybox-slide{
		padding: 0;
	}
}

/*======== End section-main-gallery ====*/

/********* start faq**********/
#faq-page {
	background: #fff;
}

/*temp*/
.question-answer-group .answer-body {
	padding: 20px 25px 0 25px;
	color: #434A5B;
}

.question-answer-group .question-text {
	width: 100%;
	line-height: 20px;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	background: #F5F1F1;
	border-radius: 2px;
	padding: 15px 25px;
	color: #434A5B;
}

.question-answer-group .question-text[aria-expanded=true] {
	background: #E44A51;
	color: #FFF;
}

.question-answer-group .question-answer {
	margin-top: 15px;
}

.question-answer-group .question-text[aria-expanded=true] .fa-plus, .question-answer-group .question-text[aria-expanded=false] .fa-minus {
	display: none;
}

.question-answer-group .fa-plus {
	color: #E44A51;
	padding-left: 5px;
}

.question-answer-group .fa-minus {
	color: #fff;
}

@media (max-width:767px) {
	.question-answer-group .question-text {
		font-size: 14px;
		line-height: 17px;
		padding: 10px 15px;
	}

	.question-answer-group .answer-body {
		font-size: 14px;
		line-height: 17px;
		color: #434A5B;
		padding: 20px 15px 5px 15px;
	}

}

/************END faq************/

/*START events */
.events-body {
	display: flex;
	align-items: center;
	margin: 10px 0;
	border: 1px solid #DBE2EF;
}
.event-item:last-child {
	margin-left: auto;
}
.event-item:first-child {
	flex-basis: 120px;
	min-width: 120px;
}
.event-item{
	padding: 18px 25px;
}

/**TEMP DOWN*/
#events-page {
	background: #FFF;
}

.events__date {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.events__date-day {
	color: #E3545A;
	font-weight: bold;
	font-size: 36px;
	line-height: 38px;
}

.events__date-month {
	color: #E3545A;
	font-size: 16px;
	line-height: 20px;
}

.events__date-year {
	color: #707070;
	font-size: 14px;
	line-height: 17px;
	margin-top: 8px;
}

.events__information-title {
	font-weight: bold;
	font-size: 22px;
	color: #434A5B;
}

.events__information-description {
	font-weight: normal;
	font-size: 14px;
	color: #434A5B;
}

a.registration-expired {
	background: #87919a;
	pointer-events: none;
}

/**TEMP UP*/
@media (max-width:767px) {
	.events-body {
		flex-direction: column;
		margin: 30px 0;
	}
	.event-item:last-child {
	margin-left: 0;
	}
	.event-item:first-child{
		flex-basis: unset;
		padding-bottom: 0;
	}
	.event-item{
		text-align: center;
		padding: 18px 15px;
	}
	.events__information-title{
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 7px;
	}
	.events__information-description{
		line-height: 17px;
	}
}
/*END events */

/*****Start section-about-us ******/
#about-page {
	background: #fff;
}
.section-about-us {
	color: #434A5B;
}
.section-teachers{
	padding-bottom: 150px;
}

.block-idea{
	color: #434A5B;
}
.idea__item{
	font-size: 18px;
	line-height: 22px;
}
.section-about-us .photo-and-text .idea__information{
	display: flex; /*duplicate ivents*/
    -webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
		justify-content: space-evenly;
    flex-direction: column;
}
.block-whoWeAre{
	margin-top: 80px;
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.whoWeAre__founders{
	display: flex;
	justify-content: space-around;
}
.whoWeAre__info h3{
	margin-bottom: 40px;
}
.whoWeAre__text{
	font-size: 18px;
	line-height: 22px;
}
.section-about-us .teacher__name,
.section-teachers .teacher__name{
	margin-bottom: 15px;
}
.teacher__info {
	font-size: 14px;
	line-height: 17px;
	text-align: center;
}
.photo-and-text {
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
	padding: 40px 0;
}
.section-teachers .title-gradient__wrapper{
  margin-bottom: 90px;
}
.section-teachers .teacher-block {
	min-width: 300px;
	text-align: center;
	margin-bottom: 160px;
	padding: 0 35px;
}
.section-teachers .teacher-block.teacher-nuestrotango{
	flex-basis: 50%;
}

.block-whoWeAre .teacher-block {
	text-align: center;
}

/*teacers flip card*/
.flip-card {
	background-color: transparent;
	width: 160px;
	height: 160px;
	perspective: 1000px;
	margin: 0 auto 25px auto;
}

.flip-card img {
	width: 160px;
	height: 160px;
	border-radius: 50%;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner, .flip-card-back {
	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

/******END section-about-us ******/

/******Start page Study ******/

/*Start section video*/
.section-video {
	background: url(../img/video-mask.png) no-repeat;
	/*height: 600px;*/
	color: #fff;
		background-size: cover;
	background-repeat: no-repeat;
	background-position: 83% center;
	padding-top: 90px;
	padding-bottom: 60px;
}
.video_title{
	margin-bottom: 35px
}
/*.presentation-lesson{
	margin-right: -15px;
}*/
.presentation__description {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 22px;
}
.presentation__description:nth-of-type(2){
	 margin-bottom: 70px;
}
.section-schedule{
	padding-bottom: 70px;
}
/******END page Study ******/
#study-page {
	background: #fff;
}
.section-lessons {
    color: #434A5B;
    padding-bottom: 65px;
}
/* Start  study before video*/
.price-block__wrapper{
	display: flex;
}
.study_title{
	margin-bottom: 55px;
}
.lessons-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 83px;
  line-height: 20px;
}
.lessons-left{
	padding: 0;
}
.lessons__season{
	/*border-right: 1px #AEBACF solid;*/
  border-bottom: 1px #AEBACF solid;
  padding-bottom: 34px;
}
.season__info {
	  font-weight: bold;
    display: flex;
    font-size: 22px;
    align-items: center;
}
.season__info span {
	  font-size: 70px;
    padding-right: 35px;
    line-height: 139%;
}
.lessons-left.lessons-individual .block-register{
	padding: 0 40px 36px 0;
}
.block-register{
	padding: 62px 40px 55px 0;
}
.lessons-wrapper .info-title{ /*repeat 5*/
	margin-bottom: 21px;
}
.lessons__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.lessons__description:not(:last-of-type){
	margin-bottom: 20px;
}
.lessons-left .lessons__description{
	margin-bottom: 57px;
}
.lessons__for-you{
	padding-bottom: 60px;
}
/* 
end study before video
*/


/****
    start video right 
******/
.video__open-lesson{
	  text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.video-title{
	font-size: 14px;
	line-height: 17px;
	color: rgba(255, 255, 255, 0.6);
}
/* end new styles for video*/
#play {
    background: transparent url(../img/triangle_video.png) center center no-repeat;
    display: inline-block;
    width: 100px;
    height: 100px;
    /*margin: 60px 0;*/
    cursor: pointer;
  }
  iframe {
    max-width: 100%;
    position: relative;
    z-index: 2;
}
.spinner-border{
	position: absolute;
	z-index: 1;
  left: 48%;
  top: 44%;
}
/*******  end right video  *******/
/*start schedule part*/
.schedule__wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	margin-left: -15px;
	margin-right: -15px;
}
.schedule__block {
	flex-grow: 2;
	border: 1px solid #D4DBE7;
	box-sizing: border-box;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 35px;
	color: #434A5B;
  font-size: 18px;
  margin: 0 15px 30px 15px;
}
.schedule__block .schedule__name{
	font-size: 22px;
	margin-bottom: 15px;
}
.schedule__block .schedule__name>span{
	font-weight: bold;
}
.schedule__block .schedule__day{
	margin-bottom: 30px;
	font-weight: bold;
}
/*price block before footer*/
.price-block {
	display: flex;
	flex-direction: column;
}
.price-block.price-block__cost{
	margin-top: -25px;
	flex-basis: 29%;
}
.price-block.price-block__monthly{
	 flex-basis: 36%;
}
.price-block.price-block__one-time{
	flex-basis: 35%;
}
.price-block__inner{
	font-size: 14px;
}
.price-block.subscription{
	font-size: 18px;
	line-height: 32px;
	color: #000000;
  border-left: 1px solid #D4DBE7;
}
.price-block .price__discount-title{
	font-weight: bold;
	margin-bottom: 26px;
}
.price-block .subscription__title{
	font-weight: bold;
  padding-left: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #D4DBE7;
  color: #434A5B;
}
.price-block__one-time .subscription__info{
	font-size: 16px;
  padding-left: 50px;
}
.price__discount-info,
.subscription__info{
	color: #7C8292;
	line-height: 180%;
}
.price-block__inner p:last-of-type{
	margin-bottom: 64px;
}
.subscription__item{
	padding-left: 50px;
	padding-top: 42px;
}
.price__discount-info span,
.subscription__info span,
.subscription__item span{
	font-weight: bold;
}
/* start media for study page and video*/
@media (min-width: 768px){
	.lessons-left{
		border-right: 1px #AEBACF solid;
    padding-right: 0;
    padding-top: 20px;
	}
	.lessons-right {
    padding-left: 78px;
    padding-top: 20px;
	}
}
@media (max-width: 991px){
	.block-whoWeAre .teacher-block{
		min-width: 300px;
		padding: 0 35px;
    flex-basis: 50%;
	}
	.idea__title{
		font-size: 28px;
    line-height: 105.11%;
	}
	.idea__item{
		font-size: 16px;
    line-height: 20px;
	}
	/* start study styles*/
	.section-price{
		padding-bottom: 120px;
		padding-top: 0px;
	}
	.price-block__wrapper{
		flex-direction: column;
		line-height: 20px;
	}
	.section-price .study_title{
		margin-bottom: 50px;
		line-height: 29px;
	}
	.price-block.price-block__cost{
		flex-basis: 100%;
		order: 3;
		text-align: center;
	}
	.price-block.subscription{
		border: 1px solid #D4DBE7;
		border-radius: 2px;
		margin-bottom: 50px; 
	}
	.price-block .subscription__title{
		padding: 12px 30px;
    background: #EAEEF4;
    border: unset;
	}
	.price-block .subscription__item{
		padding: 30px 25px 0 25px;
	}
	.price-block .subscription__item:last-child{
		padding-bottom: 30px;
	}
	.price-block__one-time .subscription__info{
		padding-left: 25px;
		padding-top: 5px;
		padding-bottom: 35px;
		line-height: 20px;
	}
	.price-block.price-block__monthly{
		flex-basis: 100%;
		order: 1;
	}
	.price-block.price-block__one-time{
		flex-basis: 100%;
		order: 2;
	}
	.price-block__inner{
		margin-top: 20px;
	}
	.price-block__inner p:last-of-type {
		margin-bottom: 40px;
	}


}
@media (max-width: 767px){
	.lessons-wrapper.wrapper-group{
		margin-bottom: 45px;
		margin-left: -15px;
		margin-right: -15px;
	}
	.lessons-wrapper.wrapper-individual{
		margin-bottom: 0;
		background: #f8f8f8;
		margin-left: -15px;
		margin-right: -15px;
	}
	.section-lessons{
		padding-top: 90px;
		padding-bottom: 0;
	}
	.study_title {
		font-size: 28px;
    text-align: center;	
    margin-bottom: 70px;	}
	.lessons__season{
		padding-bottom: 55px;
		border-right: none;
	}
	.season__info{
		font-size: 18px;
    justify-content: center;
    line-height: 22px;
	}
	.season__info span{
		padding-right: 10px; 
    line-height: 22px;
    font-size: 48px;
	}
	.lessons-right.lessons-group {
    text-align: center;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px #AEBACF solid;
	}
	.lessons-right.lessons-individual {
    text-align: center;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
	}
	.section-lessons .lessons-left.lessons-individual{
		-webkit-order: 2;
		-moz-order: 2;
		-ms-order: 2;
		-o-order: 2;
		order: 2;
	}
	/*video part start */
	.section-video{
		text-align: center;
		background: #282626;
		border-radius: 3px;
	}
	.section-video .video_title{
		font-size: 28px;
		line-height: 29px;
		text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
		    margin-bottom: 60px; /*temp anna*/
	}
	.video__right-wraper{
		background: url(../img/vide-prev-mobile.png) no-repeat;
	/*height: 600px;*/
		min-height: 290px;
		background-size: cover;
		height: 290px;
		margin-bottom: 50px; /*temp anna*/
	}
	.section-video .video__left-wraper{
		-webkit-order: 3;
		-moz-order: 3;
		-ms-order: 3;
		-o-order: 3;
		order: 3;

	}
	.section-video .video__right-wraper{
		-webkit-order: 2;
		-moz-order: 2;
		-ms-order: 2;
		-o-order: 2;
		order: 2;
	}

	/*video part END */
	/*start about us*/
	.section-about-us .photo-and-text .idea__information{
		padding: 0 15px 50px 15px;
	}
	.lessons-left.lessons-individual .block-register{
		padding: 20px 30px 90px 30px;
		text-align: center;
	}
	.block-register{
		padding: 60px 30px 40px 30px;
		text-align: center;
	}
	.whoWeAre__info h3,
	.section-teachers h3{
		font-size: 28px;
		text-align: center;
	}
	.whoWeAre__founders{
		flex-wrap: wrap;
	}
	.block-whoWeAre .teacher-block{
		flex-basis: 100%;
		margin-bottom: 80px;
	}
	.whoWeAre__text{
		text-align: center;
		padding-bottom: 70px;
	}
	.idea__image{
		order: 2;
	}
	.idea__title{
		margin-bottom: 40px;
	}
	.idea__item {
		margin-bottom: 20px;
	}
	.section-teachers .teacher-block{
		margin-bottom: 80px;
	}
	/*END about us*/
}
@media (max-width: 575px){
		.section-about-us .photo-and-text .idea__information{
		text-align: center;
		padding: 0 25px 50px 25px;
	}
		.idea__image{
		padding: 0;
	}
}
/******END page Study ******/

/**********START BloG ***************/
#blog-page {
	background: #FFF;
}

.section-blog .blog__wrap {
	padding: 50px 0;
}
.section-blog img{
	width: 332px;
}
.section-blog .photo-and-text:nth-child(3n+2){
		border-top: 1px #DBE2EF solid;
		border-bottom: 1px #DBE2EF solid;
}
.section-blog .photo-and-text{
	    margin: 0;
}
.col-md-4.blog__image{
	padding: 0;
}
.section-blog .photo-and-text .blog__information {
	display: flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	flex-direction: column;
	padding: 0;
	margin-left: 15px;
}

.section-blog .photo-and-text .blog__title {
	font-size: 22px;
	line-height: 27px;
	color: #434A5B;
	padding-bottom: 30px;
}
.blog__item-wrapper{
	padding-bottom: 30px;
}

.section-blog .photo-and-text .blog__item {
	font-size: 14px;
	line-height: 17px;
	color: #434A5B;
}

.section-blog .photo-and-text .blog__read-more {
	font-size: 14px;
	line-height: 17px;
	display: flex;
  justify-content: space-between;
}
.section-blog .photo-and-text .blog__read-more a {
	text-decoration-line: underline;
	font-weight: bold;
}
@media (max-width:767px) {
	.photo-and-text{
		flex-direction: column;
	}
	.section-blog .photo-and-text .blog__title{
		padding-top: 30px;
	}
	.section-blog .photo-and-text .blog__information{
		margin-left: 0;
	}
	img{
		width: 100%;
	}
}
/********** END BloG ***************/

/*======== Start footer ====*/
footer.page-footer {
	display: flex;
	align-items: center;
	padding: 100px 0;
}

footer #map {
	position: absolute;
	width: 100%;
	height: 100%;
}

footer .footer-left {
	max-width: 330px;
	margin-left: 10%;
}

footer .footer-contacts__wrapper {
	padding: 40px;
}

.contact-icons { /*for all*/
	position: relative;
	padding: 0 0 51px 37px;
	line-height: 15px;
}

footer .phone-icon a {
	color: inherit;
}

.contact-icons:before {/*for all*/
	content: '';
	background: url(../img/icons/phone_icon.png) 0 0 no-repeat;
	width: 20px;
	height: 42px;
	position: absolute;
	left: 0;
	top: 0;
}

.marker-icon1:before {
	background: url(../img/icons/location_icon.png) 0 0 no-repeat;
}

footer .form-title:after {
	content: '';
	width: 30px;
	height: 21px;
	margin: 6px 0 0 40px;
	background: url(../img/icons/envelope_icon.jpg) center 0 no-repeat;
}

footer .contact-title {
	padding-bottom: 45px;
}

footer .contact-title:after {
	content: '';
	width: 30px;
	height: 30px;
	margin: 6px 0 0 22px;
	background: url(../img/icons/contacts_icon.png) center 0 no-repeat;
}

footer .social-menu {
	padding-left: 40px;
}

footer .social-menu li {
	display: inline-block;
	margin-right: 30px;
}

footer .social-menu li:last-child {
	margin-right: 0;
}

footer .social-menu .fa {
	height: 34px;
	width: 34px;
	text-align: center;
	font-size: 25px;
	line-height: 36px;
	border-radius: 50%;
	color: #E3545A;
	transition: all 0.5s linear;
	background: #fff;
}

/*footer .social-menu .fa:hover{
   color: #fff;
   background: #E3545A;
   box-shadow: 0 0 30px 3px #E3545A;  animation hover
}
*/
footer .footer-right {
	width: 430px; /*temp or adaptive*/
	border-radius: 3px;
	background: #fff;
}

footer .footer-form__wrapper {
	padding: 50px 46px;
}

footer .md-form {
	position: relative;
	margin-top: 26px;
}

footer .send-button {
	margin-top: 60px;
}

.md-form input[type=text], textarea.form-input,
.md-form input[type=email], .md-form input[type=phone] {
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	outline: 0;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #8B93A6;
	border-radius: 0;
	box-sizing: content-box;
	background-color: transparent;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
}

.md-form input:focus:not([readonly]),
.md-form .form-input:focus:not([readonly]) {
	border-bottom: 1px solid #E3545A;
}

.md-form input::placeholder {
	color: #A4ADC4;
}

/*.md-form .form-input {
   margin: 0 0 .5rem;
   -webkit-border-radius: 0;
   border-radius: 0;
   padding: .6rem 0 .4rem;
   background-image: none;
   background-color: transparent;
   height: auto;
}*/
.md-form label {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1rem;
	transition: transform .2s ease-out, color .2s ease-out;
	transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
	transform-origin: 0 100%;
	transform: translateY(12px);
	cursor: text;
	color: #757575;
}
 input[type="submit"]{
 	  border: none;
    color: #fff;
    background: #E3545A;
    border-radius: 60px;
    padding: 13px 27px;
    font-weight: bold;
 }
/*temp footer-copyright*/
.footer-copyright {
	color: #646464;
	background: #1e1e1e;
}

/*======== End footer ====*/

/*======== Start footer mobile====*/
@media (max-width:767px) {
	footer.page-footer {
		flex-direction: column;
		padding: 0;
	}

	footer #map {
		position: relative;
		width: 100%;
		height: 375px;
		order: 2;
	}

	footer .footer-left {
		max-width: 100%;
		margin-left: 0;
		width: 100%;
		order: 3;
	}

	footer .footer-right {
		width: 100%;
		order: 1;
		background: #f8f8f8;
	}

}

/*======== End footer mobile====*/

/*.fancybox-slide--iframe .fancybox-content {
    max-width: 650px;
}*/

/*
temp for mdal*/

@media (max-width: 575px){
	.modal-student-group .student-group__right {
    flex-basis: 100%;
    background: #fff;
    padding: 38px 20px 40px 33px;
}
.modal-student-group .student-group__left {
    flex-basis: 100%;
    padding: 38px 45px 40px 40px;
}
.modal-wrapper__student-group{
	margin: 5px;
}
}
/* end
temp for mdal*/
/* START global for all pages media query*/
.img-fluid {
	height: 230px; /* temp for gallery, need*/
}
/* END global for all pages media query*/